apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashes
  labels:
    app: hashes
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hashes
  template:
    metadata:
      labels:
        app: hashes
    spec:
      containers:
        - name: hashes
          image: yykhomenko/hashes:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
          envFrom:
            - configMapRef:
                name: hashes-config
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 2000m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 2Gi
